<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div><h2>Messages</h2>
<form method="post" action="/add_message">
    <input type="text" name="company">
    <input type="text" name="term">
    <button type="submit">Add post</button>
</form>
</div>

<div>

<form method="post" action="/clear">
    <button type="submit">Clear</button>
</form>
</div>




<h3>Works feed</h3>
{% for work in works %}
<div>{{ work.company }}
   {{ work.term }}
</div>
{% endfor %}

</body>
</html>